doctype html
html(lang="zh")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width,initial-scale=1.0")
		meta(name="renderer", content="webkit|ie-comp|ie-stand")
		link(rel="icon", href="favicon.ico")
		title 客服系统
		link(rel="stylesheet" href="css/index.css")
	body
		<!--[if lte IE 8]>
		link(rel="stylesheet" href="css/ie-blocker.css")
		script(type="text/javascript" src="js/ie-blocker.js")
		<![endif]-->

		#app

		script(src="assets/jquery.min.js")
		script(src="assets/sockjs.min.js")
		script(src="assets/stomp.min.js")
		script(src="assets/require.min.js")
		script(src="js/app.js")
