doctype html
html(lang="zh")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="viewport", content="width=device-width,initial-scale=1.0")
		meta(name="renderer", content="webkit|ie-comp|ie-stand")
		link(rel="icon", href="favicon.ico")
		title 客服系统
		link(rel="stylesheet" href="css/index.css")
	body
		<!--[if lte IE 8]>
		link(rel="stylesheet" href="css/ie-blocker.css")
		script(type="text/javascript" src="js/ie-blocker.js")
		<![endif]-->

		#app
			.tab-box
				button.close
					i.icon.icon-close
				.closing-confirm-box
					span.box-arrow
						i
					p 确定要结束对话吗？
					div
						button(data-type="cancel") 取消
						button(data-type="okey") 确定
			.content-box
				.chat-box
					.queue-msg.
						您好，当前您排在第 #[span.queueNum 0] 位，请耐心等待
					.chat-history
						.unreadCount(data-type="down")
							a(href="javascript:;")
								strong #[span 0] 条新消息
							button.icon.icon-close
						.chat-window
							.loading-history
								i.icon.icon-loading.icon-spin.icon-fast
							.chatWrapper

					.chat-toolbar
						form(enctype="multipart/form-data")
							input(type="file" accept="image/gif, image/jpeg, image/png")
							i.icon.icon-picture

					.chat-sendbox
						textarea(
							placeholder="请输入消息..."
							spellcheck="false"
							maxlength="1000"
						)
						button.send(disabled) 发送
				.advertising-box

		script(src="assets/polyfill.min.js")
		script(src="assets/velocity.min.js")
		script(src="assets/jquery.min.js")
		script(src="assets/sockjs.min.js")
		script(src="assets/stomp.min.js")
		script(src="assets/require.min.js")
		script(src="js/app.js")
